<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microondas</title>
    <!-- Una fuente de Google -->
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <!-- Cargamos el CSS que haremos para este sitio -->
    <link href="{{ url_for('static' , filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>


<div class="map-container">
    <div id="microwave0" class="microwave-container">
        <img src="../static/uploads/microwave.png">
        <div class="microwave-result-container">
            <h2>Tiempo: {{results[0]}}</h2>
        </div>
    </div>

    <div id="microwave1" class="microwave-container">
        <img src="../static/uploads/microwave.png">
        <div class="microwave-result-container">
            <h2>Tiempo: {{results[1]}}</h2>
        </div>
    </div>


</div>





</body>
</html>
